<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  
  <variable name="format" value="[${longdate}]${level:padding=5} [${logger:padding=25}] [${callsite:className=false}] -> ${message}"/>
  <variable name="dir" value="${basedir}/logs/" />

  <targets>
    <target name="Console" xsi:type="ColoredConsole" layout="${format}" />
    <target name="MasterLog" xsi:type="File" fileName="${dir}Master.log" layout="${format}" />
    
    <target name="DataLog" xsi:type="File" fileName="${dir}Regean.Data.log" layout="${format}" />
    <target name="EngineLog" xsi:type="File" fileName="${dir}Regean.Engine.log" layout="${format}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="Console,MasterLog" />
    
    <logger name="Reagan.Data.*" minlevel="Trace" maxlevel="Fatal" writeTo="DataLog" />
    <logger name="Reagan.Engine.*" minlevel="Trace" maxlevel="Fatal" writeTo="EngineLog" />
  </rules>
  
</nlog>
